.App {
  display: grid;
  grid-template-columns: minmax(400px, 33%);
  grid-template-rows: auto auto auto;
  grid-template-areas: "form" "todos" "completed-todos";
  grid-row-gap: 2rem;
  justify-content: center;
  padding-top: 100px;
}

.App__form {
  grid-area: form;
}

.App__todos {
  grid-area: todos;
}

.App__completed-todos {
  grid-area: completed-todos;
}